<!DOCTYPE html>
<html>
  <head>
    <title>Flycat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <div class="flex">
      <div>
          <%= render partial: 'home/sidebar' %>
      </div>
      <div class="flex-grow">
          <%= render partial: 'home/header' %>
          <%= render partial: 'home/main' %>
      </div>
   </div>
      <%#div class="w-full overflow-y-scroll"> %>
        <%#= render partial: 'home/header' %>
        <%#= render partial: 'home/main' %>
        <%#= yield %>

    <div class="container">
      <% if notice %>
        <%= render 'layouts/alerts' %>
      <% end %>

    </div>
  </body>
</html>
